@model IEnumerable<playlist_lab.Tracks>

@{
    ViewData["Title"] = "Tracks";
}

<h1>All tracks @ViewBag.JenreName </h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.JenreId"> Add new track</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit1" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details1" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete1" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
